body {
    background-color: black;
    
}
.header {
    display: flex;
    background-color: rgb(9, 11, 109);
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
.buttonmain {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
    width: 200px;
}
.buttonmain:hover {
background-color: rgb(15, 214, 105);
}
.merchandise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}
.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(9, 11, 109);
    width: min-content;
    border-radius: 20px;
}
.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(9, 11, 109);
    width: min-content;
    border-radius: 20px;
}
.img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(9, 11, 109);
    width: min-content;
    border-radius: 20px;
}
.img4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(9, 11, 109);
    width: min-content;
    border-radius: 20px;
}
.img5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(9, 11, 109);
    width: min-content;
    border-radius: 20px;
}
.img6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background-color: rgb(9, 11, 109);
    width: min-content;
    border-radius: 20px;
}
.coffeemug {
    border-radius: 20px;
}
.tshirt {
    border-radius: 20px;
}
.crystalball {
    border-radius: 20px;
}
.telescope {
    border-radius: 20px;
}
.rocketlamp {
    border-radius: 20px;
}
.button1 {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.button1:hover {
background-color: rgb(15, 214, 105);
}
.button2 {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.button2:hover {
background-color: rgb(15, 214, 105);
}
.button3 {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.button3:hover {
background-color: rgb(15, 214, 105);
}
.button4 {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.button4:hover {
background-color: rgb(15, 214, 105);
}
.button5 {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.button5:hover {
background-color: rgb(15, 214, 105);
}
.button6 {
    color: white;
    background-color: transparent;
    border: 2px solid rgb(15, 214, 105);
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all .5s ease;
}
.button6:hover {
background-color: rgb(15, 214, 105);
}
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}