.grid {
    display: grid;
    background-color: navy;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11";
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: .5fr .5fr .5fr .5fr;
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}