.red-box {
    height: 30px;
    width: 30px;
    background-color: red;
    margin: 5px;
  }
  .flex {
    border: 2px solid pink;
    margin: 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 70px;
    border: 2px solid violet;
    margin: 5px;
  }