body {
    background-image: url(https://background-tiles.com/overview/yellow/textures/small/5006.png) ;
}
.Title {
    text-align: center;
    color: #4B0082;
    text-decoration: underline;
    font-size: xx-large;
    font-family: fantasy;
}
.Main {
    text-align: center;
    color:navy;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.images {
    text-align: center;
}